@media screen and (min-width: 1024px) {
  main {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    grid-template-areas:
      'header content'
      'header footer';
  }

  header {
    grid-area: header;
  }

  nav {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
    margin: var(--padding-md);
    height: calc(100vh - var(--padding-md) * 2);
  }

  nav ul {
    flex-direction: column;
  }

  nav .avatar {
    margin-block-start: auto;
  }

  .search-field {
    margin-bottom: var(--padding-md);
    padding: calc(var(--padding-md) + var(--padding-sm)) var(--padding-md) 0 0;
  }

  .trending h1 {
    padding-left: 0;
  }

  .media-item .info .details {
    font-size: 0.7rem;
  }

  .media-scroller {
    grid-auto-columns: 39%;
    padding: 0;
    scroll-padding-inline: 0;
  }

  .recommended {
    padding: 0 var(--padding-md) 0 0;
  }

  footer {
    grid-area: footer;
  }
}
